<% layout("/layouts/boilerplate")-%>

<div class="container mt-5">
  <h1 class="mb-4" style="color: #182527">My Profile</h1>

  <div class="mb-3">
    <a
      href="/teachers/<%= teacher._id %>/timetables/<%= timetable._id %>/edit"
      class="btn btn-secondary me-2"
      style="background-color: #545454; border-color: #545454"
      >Edit Timetable</a
    >
    <a
      href="/teachers/<%= teacher._id %>/edit"
      class="btn btn-primary"
      style="background-color: #1ecd8d; border-color: #1ecd8d"
      >Edit Details</a
    >
  </div>

  <div class="card mb-4" style="border-color: #1ecd8d">
    <div class="card-body">
      <h5 class="card-title" style="color: #182527">Personal Information</h5>
      <p class="card-text" style="color: #545454">
        <strong>Name:</strong> <%= teacher.name %>
      </p>
      <p class="card-text" style="color: #545454">
        <strong>Faculty ID:</strong> <%= teacher.fid %>
      </p>
      <p class="card-text" style="color: #545454">
        <strong>Department:</strong> <%= department.deptname %>
      </p>
      <p class="card-text" style="color: #545454">
        <strong>Email:</strong> <%= teacher.email %>
      </p>
      <p class="card-text" style="color: #545454">
        <strong>Subject 1:</strong> <%= teacher.sub1.subcode %>
      </p>
      <p class="card-text" style="color: #545454">
        <strong>Subject 2:</strong> <%= teacher.sub2.subcode %>
      </p>
      <p class="card-text" style="color: #545454">
        <strong>Qualifications:</strong> <%= teacher.qualifications%>
      </p>
    </div>
  </div>

  <h2 class="mb-3" style="color: #182527">Timetable</h2>
  <div class="table-responsive">
    <table class="table table-bordered" style="border-color: #1ecd8d">
      <thead>
        <tr style="background-color: #182527; color: #ffffff">
          <th>Timetable</th>
          <th>1</th>
          <th>2</th>
          <th>3</th>
          <th>4</th>
          <th>5</th>
          <th>6</th>
          <th>7</th>
        </tr>
      </thead>
      <tbody>
        <% const days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday',
        'Saturday']; %> <% days.forEach(day => { %>
        <tr>
          <td style="background-color: #1ecd8d; color: #182527">
            <strong><%= day %></strong>
          </td>
          <% for(let period of timetable[day]){ %>
          <td style="color: #545454"><%= period.subcode %></td>
          <% } %>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>
