<% layout("/layouts/boilerplate")-%>

<div class="container mt-5">
  <h1 class="mb-4" style="color: #182527;">Edit Teacher Information</h1>
  <div class="card" style="border-color: #1ECD8D;">
    <div class="card-body">
      <form action="/teachers/<%= teacher._id %>/?_method=PUT" method="POST">
        <div class="mb-3">
          <label for="name" class="form-label" style="color: #545454;">Faculty Name</label>
          <input type="text" class="form-control" id="name" name="teacher[name]" value="<%= teacher.name %>" required style="border-color: #1ECD8D;">
        </div>
        <div class="mb-3">
          <label for="fid" class="form-label" style="color: #545454;">Faculty ID</label>
          <input type="text" class="form-control" id="fid" name="teacher[fid]" value="<%= teacher.fid %>" required style="border-color: #1ECD8D;">
        </div>
        <div class="mb-3">
          <label for="department" class="form-label" style="color: #545454;">Department</label>
          <select class="form-select" id="department" name="teacher[department]" required style="border-color: #1ECD8D;">
            <% let olddept = teacher.department.deptcode; %>
            <% for (let dept of departments) { %>
              <option value="<%= dept._id %>" <%= dept.deptcode === olddept ? 'selected' : '' %>><%= dept.deptcode %></option>
            <% } %>
          </select>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label" style="color: #545454;">Email</label>
          <input type="email" class="form-control" id="email" name="teacher[email]" value="<%= teacher.email %>" required style="border-color: #1ECD8D;">
        </div>
        <div class="mb-3">
          <label for="sub1" class="form-label" style="color: #545454;">Subject 1</label>
          <select class="form-select" id="sub1" name="teacher[sub1]" required style="border-color: #1ECD8D;">
            <% let oldsub = teacher.sub1.subcode; %>
            <% for (let subject of subjects) { %>
              <option value="<%= subject._id %>" <%= subject.subcode === oldsub ? 'selected' : '' %>><%= subject.subcode %></option>
            <% } %>
          </select>
        </div>
        <div class="mb-3">
          <label for="sub2" class="form-label" style="color: #545454;">Subject 2</label>
          <select class="form-select" id="sub2" name="teacher[sub2]" required style="border-color: #1ECD8D;">
            <% oldsub = teacher.sub2.subcode; %>
            <% for (let subject of subjects) { %>
              <option value="<%= subject._id %>" <%= subject.subcode === oldsub ? 'selected' : '' %>><%= subject.subcode %></option>
            <% } %>
          </select>
        </div>
        <div class="mb-3">
          <label for="qualifications" class="form-label" style="color: #545454;">Qualifications</label>
          <input type="text" class="form-control" id="qualifications" name="teacher[qualifications]" value="<%= teacher.qualifications %>" required style="border-color: #1ECD8D;">
        </div>
        <button type="submit" class="btn btn-primary" style="background-color: #1ECD8D; border-color: #1ECD8D;">Update & Save</button>
      </form>
    </div>
  </div>
</div>